@font-face {
    src: url('/css/ConnectCode39.ttf');
    font-family: 'ConnectCode39';
}

body {
    margin: 0;
    background-color: #001824;
    color: #b5f7ff;
    font-size: 1.28em;
    overflow: hidden;
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.warning {
    color: rgb(255, 255, 0);
}
.error {
    color: rgb(255, 73, 73);
}

a:link, a:visited {
    color: #b5f7ff;
}
a:hover, a:active {
    text-shadow: 0 0 4px white;
}
a {
    transition: all 0.3s;
}

button {
    font-size: 1em;
    min-height: 1em;
    color: #b5f7ff;
    border: 1px solid #b5f7ff;
    background-color: transparent;
    font-family: sans-serif;
}
button.big {
    padding: 0.5em 1em;
    margin: 0.2em;
}
input[type="text"] {
    font-size: 1em;
    min-height: 1em;
    color: #b5f7ff;
    border: 1px solid #b5f7ff;
    background-color: transparent;
    font-family: sans-serif;
    width: 12em;
}

table.label_and_input td:nth-child(1) {
    text-align: right;
}
table.label_and_input td:nth-child(2) {
    text-align: left;
}

.part0 {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 12em);
    overflow: auto;
}

#items_table {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#items_table td {
    border: 1px solid currentColor;
}
#items_table td:nth-child(1) {
    width: 15%;
}
#items_table td:nth-child(2) {
    width: 40%;
}
#items_table td:nth-child(3) {
    width: 20%;
}
#items_table td:nth-child(4) {
    width: 15%;
}
#items_table td:nth-child(5) {
    width: 10%;
}

.part1 {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 12em;
    border-top: 1px solid currentColor;
}
.part1 .left {
    width: 67%;
    text-align: left;
}
.part1 .left table {
    margin: 0.5em 0;
}
.part1 .right {
    width: 33%;
    text-align: center;
}
.part1 .right .sum {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0;
}
.use_credit_form {
    display: none;
}

.part2 {
    position: absolute;
    top: -100%;
    width: 100%;
    height: calc(100% - 12em);
    overflow: auto;
    background-color: #001824;
    transition: all 0.6s;
}
#member_code {
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'ConnectCode39';
    font-size: 3em;
    padding: 1em 0;
}

iframe#manager {
    width: 100%;
    height: 24em;
    background-color: white;
    color: black;
}

@media (max-width: 1024px) {
    #member_code {
        font-size: 2.4em;
    }
}