database
__pycache__
launcher.exe
_asyncio.pyd
_bz2.pyd
_ctypes.pyd
_decimal.pyd
_elementtree.pyd
_hashlib.pyd
libcrypto-1_1.dll
libffi-7.dll
libssl-1_1.dll
LICENSE.txt
_lzma.pyd
_msi.pyd
_multiprocessing.pyd
_overlapped.pyd
pyexpat.pyd
python38.dll
python38._pth
python38.zip
python3.dll
python.cat
python.exe
pythonw.exe
_queue.pyd
select.pyd
_socket.pyd
sqlite3.dll
_sqlite3.pyd
_ssl.pyd
unicodedata.pyd
vcruntime140.dll
winsound.pyd